<div class="career-container">
  <div class="topic">
    <span class="normal-char">
      <span class="first-char">E</span>xperience
    </span>
  </div>

  <div>
    <div class="job-title">
      <span class="job-position">Programmer Specialist 1</span>
      CDG System Sep,2018 to present {{ job2date.years }} years {{ job2date.months }} months
    </div>

    <div  class="job-detail">
      <div class="foot-print">
        <div>
          Design angular template structure such as layout, routing, authentication, error handling, etc. for every project.
        </div>
        <div>
          find and research solutions to resolve the problem and new requests from a manager.
        </div>
        <div>
          Help programmers to fix bugs about the frontend.
        </div>
        <div>
          Teach students to find new employees.
        </div>
        <div>
          Review web design from the designer before starting to develop an application
        </div>
        <div>
          improve page speed.
        </div>
        <div>
          find new technology to improve web quality.
        </div>
      </div>
    </div>

  </div>
  <div>
    <div class="job-title">
      <span class="job-position">Programmer</span>
      CDG System Jun, 2015 to Sep,2018 {{ job1date.years }} years {{ job1date.months }} months
    </div>
    <div class="job-detail">
      <div class="foot-print">
        <div>
          Develop web application follow Programspec from SA
        </div>
        <div>
          fix SQL problems from spec
        </div>
        <div>
          Develop Java application from Programspec with company framework use java JSF HTML CSS javascript
        </div>
      </div>
    </div>
  </div>


  <div class="link-footer">
    <a
      target="_blank"
      href="https://www.linkedin.com/in/piyapong-klongbunjong-26570b203/"
      class="linkin-icon"
    ></a>
    <a
      target="_blank"
      href="https://github.com/floukeiei?tab=repositories"
      class="github-icon"
    ></a>

    <a
      target="_blank"
      href="mailto:flouk.cs07@gmail.com"
      class="email-icon"
    ></a>


  </div>
</div>
