<div class="career-container">
  <div class="topic">
    <span class="normal-char">
    </span>
</div>

<div>
    Programmer Specialist 1
    CDG System
    Sep,2018 to present
    2 years 7 months
</div>
<div>
 1 Design angular template
structure such as layout,
routing, authentication, error
handling, etc. for every project.
 2 find and research solutions to
resolve the problem and new
requests from a manager.
 3 Help programmers to fix bugs
about the frontend.
 4 Teach students to find new
employees.
 5 Review web design from the
designer before starting to
develop an application
 6 improve web performance in
slow web applications.
 7 find new technology to improve
web quality.
</div>

<div>
    Programmer
    CDG System
    Jun, 2015 to Sep,2018
    3 years 4 months
</div>

<div>
    1 Develop web application
follow Programspec from SA
    2 fix SQL problems from spec
    3 Develop Java application from
Programspec with company
framework use java JSF HTML
CSS javascript

</div>

<div>
    <button>Hire Me!</button>
</div>
      <span class="first-char">C</span>areer


</div>

<div class="link-footer">
    <a target="_blank" href="https://www.linkedin.com/in/piyapong-klongbunjong-26570b203/" class="linkin-icon"></a>
    <a target="_blank" href="https://github.com/floukeiei?tab=repositories" class="github-icon"></a>
</div>
