.content-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6b1c22;
    width: 100%;
    max-height: var(--content-height);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 100px;
    overflow: auto;
    justify-content: center;
}


.open-menu{
    transform: translateY(100px) scale(0.98);
    overflow: hidden;
}