<div class="topic">
    <span class="normal-char">
        <span class="first-char">A</span>bout me
    </span>
</div>
<div class="caption">
    <pre>
        I'm an Angular Developer in Framework Team, I use REST API to send a
        request to backend service, and authentication with Keycloak(JWT), I design
        angular project structure for the project team. and support them for a
        technical problem. In 2019, I was invited to teach basic angular at KMITL for
        3 weeks(sat-sun). Next, I will learn new web technology to improve team productivity
    </pre>
    <img class="profilepic" src="https://pokeres.bastionbot.org/images/pokemon/25.png">
</div>
<div>
    Birth Date 24 FEB 1993
</div>