<div class="about-me-layout">
    <div class="topic">
        <span class="normal-char">
            <span class="first-char">A</span>bout me
        </span>
    </div>
    <div class="caption">
        <div>
            I'm an Angular Developer in Framework Team, I use REST API to send a
            request to backend service, and authentication with Keycloak(JWT), I design
            angular project structure for the project team. and support them for a
            technical problem. In 2019, I was invited to teach basic angular at KMITL for
            3 weeks(sat-sun). Next, I will learn new web technology to improve team productivity
        </div>
    </div>
    <div class="profile-div">
        <img class="profilepic" src="assets/images/profile.webp">
    </div>
    <div class="about-me-footer">
        <div>
            Birth Date
            <br>
            24 FEB 1993
        </div>
        <div>
            Hobby

        </div>
        <div>
            Education
            <br>
            <img src="assets/images/rmutk.png" style="width:50px">
            Rajamangala University of Technology Krungthep
            <br>
            Bachelor of sci (Computer Science)
            <br>
            Attended from Jun, 2011 to Aug, 2015
        </div>
    </div>
</div>
