.first-char{
    font-size: 7em;
    line-height: 1;
}

.normal-char{
    font-size: 3em;
}

.profilepic{
    width: 200px;
    height: 220px;
}
.caption{
    display: flex;
    justify-content: center;
}