<div class="content-skill">
  <div class="topic">
    <span class="normal-char">
      <span class="first-char">S</span>kills
    </span>
  
  </div>
  <div class="skill-topic">Coding Language</div>

  <div class="coding-language">
    <div class="language-skill">
      <resume-skill-item
        src="assets/images/javascript.png"
        label="javascript"
      ></resume-skill-item>
    </div>
    <div class="language-skill">
      <resume-skill-item
        src="assets/images/typescript.png"
        label="typescript"
      ></resume-skill-item>
    </div>
    <div class="language-skill">
      <resume-skill-item
        src="assets/images/html.png"
        label="HTML"
      ></resume-skill-item>
    </div>
    <div class="language-skill">
      <resume-skill-item
        src="assets/images/css.png"
        label="CSS"
      ></resume-skill-item>
    </div>
    <div class="language-skill">
      <resume-skill-item
        src="assets/images/scss.png"
        label="SCSS"
      ></resume-skill-item>
    </div>
    <div class="language-skill">
      <resume-skill-item
        src="assets/images/java.png"
        label="JAVA"
      ></resume-skill-item>
    </div>
  </div>
  <div class="skill-topic">
    Tool and Library
  </div>
  <div class="FrameWorks">
    <div class="framework">
      <resume-skill-item
        src="assets/images/angular.png"
        label="Angular"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/rxjs.png"
        label="RxJS"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/primeng.png"
        label="PrimeNG"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/ng-zorro.svg"
        label="NG-ZORRO"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/ngrx.svg"
        label="NgRx"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/transloco.png"
        label="Transloco"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/vscode.png"
        label="vscode"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/nexus.png"
        label="nexus repository"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/nx.png"
        label="Nx"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/npm.png"
        label="npm"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/yarn.png"
        label="yarn"
      ></resume-skill-item>
    </div>
    <div class="framework">
      <resume-skill-item
        src="assets/images/keycloak.png"
        label="keycloak"
      ></resume-skill-item>
    </div>
  </div>
</div>
