.language-skill,.framework{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}


.coding-language , .FrameWorks{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    place-content: center;
    row-gap:8px;
}


.content-skill{
    padding: 24px;
    min-height: 100vh;
}
.skill-topic{
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
  }