<div class="content-skill">
  Skills
  <span>Coding Language</span>
  <div class="coding-language">
    <div class="language-skill">
      javascript
    </div>
    <div class="language-skill">
      typescript
    </div>
    <div class="language-skill">
      HTML
    </div>
    <div class="language-skill">
      CSS
    </div>
    <div class="language-skill">
      SCSS
    </div>
    <div class="language-skill">
      JAVA
    </div>
  </div>
  <div class="FrameWorks">
    <div class="framework">
      Angular
    </div>
    <div class="framework">
      RxJS
    </div>
    <div class="framework">
      PrimeNG
    </div>
    <div class="framework">
      NG-ZORRO (AntDesign for Angular)
    </div>
    <div class="framework">
      NgRx
    </div>
    <div class="framework">
      Transloco
    </div>
  </div>
</div>
