.language-skill{

}

.framework{

}

.coding-language , .FrameWorks{
    display: grid;
    grid-template-columns: repeat(auto-fit, 110px);
    place-content: center;
}


.content-skill{
    padding: 24px;
    min-height: 100vh;
}

.topic{
    font-size: 3em;
}