/* You can add global styles to this file, and also import other style files */
@import '../src/styles/reset.scss';
@import '../src/styles/font.scss';

:root {
  --content-height: 100vh;
}



body {
  font-family: 'Lexend';
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 1200px;
}

@media only screen and (max-width: 768px) {
  body {
    .profile-div {
      grid-row: 2 !important;
      grid-column: 1/4 !important;
    }
    .caption {
      grid-row: 3 !important;
      grid-column: 1/4 !important;
    }
    .topic{
      grid-column: 1/4 !important;
    }
  }
}
